@import url("./footer.css");
@import url("./section.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 85px;
    width: 100%;
    background-color: transparent; 
    z-index: 10;  
   
}

#maindiv1 {
    display: flex;
    background-color: transparent;
}

#maindiv1 img {
    width: 10%;
    margin-left: 200px;
    margin-top: 10px;
    /* fill: #00dcf7; */
    background-color: transparent;
    border: none;
    position: fixed;
}

#maindiv1 ul {
    display: flex;
    height: 70px;
    list-style: none;
    width: 80%;
    justify-content: space-evenly;
    margin-left: 600px;
    align-items: flex-start;
    font-family: CircularStd, sans-serif;
    /* position:fixed; */
}

#maindiv1 ul li {
    display: flex;
    align-items: flex-end;
    padding: 25px;
    font-family: CircularStd, sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 600;
    color: white; /* Visible over video */
}


#maindiv1 button {
    top:0;
    text-align: center;
    width: 12%;
    font-size: 15px;
    font-weight: 600;
    background-color: #00dcf7;
    border: none;
    /* border-radius: 4px; */
    padding: 10px;

}
#maindiv1 ul li:hover{
    color: #00dcf7;

}
#maindiv1 button:hover{
    cursor:pointer;
    
}

#video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(white, white, white, 0.6);
}

#div1 {
    display: inline-block;
    /* border: 3px solid  green; */
    width:100%;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: start;
    color: white;
    position: absolute;
    margin-left: 100px;
    padding-right: 200px;
    margin-top: 100px;   
}
#div1 h1{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 65px;
    margin-left: 60px;
}
#div1 p{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin-top: 2px;
    margin-left: 70px;
    font-size: 18px;
}

.video-btn {
    margin-top: 70px;
    margin-left: 55px;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background-color: #00dcf7;
    border-radius: 0;
    border-style: solid;
    color: #000;
    border-color: #00dcf7;
    outline: none;
    box-shadow: none;
    font-weight: 400;
    line-height: 26px;
    /* transition: all .3s ease-in; */
} 
.video-btn:hover{
    background-color: black;
    color: #fff;
   
}
.mr-2:hover{ 
    fill: #fff;
}

#section1{
    display: flex;
}
#left{
    border: 3px solid black;
    width: 100%;
    height: 100vh;
}#middle{
    border: 3px solid black;
    width: 100%;
    height: 100vh;
}
#right{
    border: 3px solid black;
    width: 100%;
    height: 100vh;
}
#vidimg {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#vidimg video {
  width: 100%;
  height: auto;
  display: block;
}
#vidimg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; 
  pointer-events: none; 
}
